[Unit]
Description=The Midnight Bot

[Service]
ExecStart=/root/midnight-lyrics/bot.js
Restart=always
User=jens
Group=jens
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/root/midnight-lyrics

[Install]
WantedBy=multi-user.target
