[Unit]
Description=Musicbot service
After=network-online.target

[Service]
WorkingDirectory=/home/jens/musicbot
ExecStart=/bin/java -Dnogui=true -jar bot.jar
User=jens
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
RequiredBy=network-online.target
